@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --cor-principal: #FF6100;
    --cor-secundaria: #20262e;
    --cor-branco: #fff;
    --cor-preto: #000;
    --cor-verde: #0f0;

    font-size: 12px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

::selection {
    color: var(--cor-preto);
    background-color: var(--cor-verde);
}

html,
body {
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}

body {
    overflow-x: hidden;
}

main {
    width: 100%;
    padding: 120px 20px 0 20px;
}

main section {
    margin: 0 auto;
    max-width: 700px;
}

main section img {
    display: block;
    margin: 0 auto;
    width: 100px;
}

main section img#logo-html:hover {
    cursor: url('../img/css.png'), auto;
}

main section h1 {
    margin-top: 30px;
    margin-bottom: 50px;
    text-align: center;
}

main section p {
    text-align: justify;
    margin-bottom: 50px;
}

main button#btn-fazer-curso {
    border: none;
    outline: none;
    cursor: pointer;
    overflow: hidden;
    padding: 10px;
    border-radius: 2px;
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
    border: 2px solid var(--cor-secundaria);
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 1em;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 10px;
}

main button#btn-fazer-curso:after {
    content: "";
    width: 0%;
    height: 100%;
    background: var(--cor-verde);
    position: absolute;
    transition: all 0.4s ease-in-out;
    right: 0;
}

main button#btn-fazer-curso:hover::after {
    right: auto;
    left: 0;
    width: 100%;
}

main button#btn-fazer-curso span {
    text-align: center;
    text-decoration: none;
    width: 100%;
    padding: 8px 12px;
    color: var(--cor-preto);
    font-weight: 700;
    z-index: 20;
    transition: all 0.3s ease-in-out;
}

main button#btn-fazer-curso:hover span {
    color: var(--cor-preto);
    animation: pular 0.3s ease-in-out;
}

header li {
    list-style-type: none;
}

a {
    color: var(--cor-branco);
    text-decoration: none;
}

@media (min-width: 400px) {
    header div#logo {
        background-image: url("../img/logo300.png");
        width: 300px;
        height: 300px;
    }
}

@media (min-width: 900px) {
    header nav div#menu {
        display: none;
    }

    header div#logo {
        background-image: url("../img/logo400.png");
        width: 400px;
        height: 400px;
        float: left;
        position: relative;
        top: 50vh;
        transform: translateY(-50%);
    }

    header section {
        position: absolute;
        top: 50vh;
        left: 57vw;
        width: 30vw;
        transform: translateY(-55%);
    }

    header nav>ul {
        margin-left: 10vw;
        display: flex;
        gap: 10vw;
    }

    header nav ul li ul {
        margin: 0;
        display: none;
    }

    header nav ul li ul li a span {
        width: 300px;
    }

    header ul li span {
        cursor: pointer;
    }

    header nav ul li:hover ul {
        display: block;
    }

    main {
        padding-top: 80px;
    }
}

@media (min-width: 1400px) {
    :root {
        font-size: 20px;
    }

    header div#logo {
        background-image: url("../img/logo.png");
        width: 500px;
        height: 500px;
    }

    main section h1 {
        margin-bottom: 150px !important;
    }

    header button#btn-ver-curso,
    main button#btn-fazer-curso {
        padding: 10px 15px;
    }

    main button#btn-fazer-curso {
        padding: 10px 15px;
    }

    header button#btn-ver-curso span,
    main button#btn-fazer-curso span {
        font-weight: 700;
        font-size: 1.125em;
    }
}

@media (min-width: 720px) and (min-height: 1400px) {
    :root {
        font-size: 30px;
    }

    header div#logo {
        background-image: url("../img/logo.png");
        width: 500px;
        height: 500px;
    }

    main {
        padding: 150px 50px 0 50px;
    }
}

@keyframes pular {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.95);
    }

    100% {
        transform: scale(1);
    }
}