@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


:root {
    --cor-principal: #FF6100;
    --cor-secundaria: #20262e;
    --cor-branco: #fff;
    --cor-preto: #000;
    --cor-verde: #0f0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

::selection {
    color: var(--cor-preto);
    background-color: var(--cor-verde);
}

html,
body {
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}

html {
    overflow-x: hidden;
}

header {
    width: 100vw;
    height: 100vh;
    background-color: var(--cor-principal);
    color: var(--cor-branco);
    text-align: justify;
}

main section {
    position: sticky;
    top: 100px;
}

header li {
    list-style-type: none;
}

a {
    color: var(--cor-branco);
}

@media (min-width: 280px) {
    header {
        padding: 0 10vw;
    }

    header nav {
        position: fixed;
        width: 100vw;
        padding: 20px;
        background-color: var(--cor-secundaria);
        transform: translateX(calc(-10%));
        z-index: 1;
    }

    header nav div#menu {
        float: right;
        cursor: pointer;
    }

    header nav div#menu div.linha {
        height: 2px;
        width: 30px;
        margin: 10px;
        background-color: var(--cor-branco);
    }

    header nav>ul {
        display: none;
    }

    header nav>ul.ativo {
        position: absolute;
        height: calc(100vh - 62px);
        width: 100vw;
        left: 0;
        top: 62px;
        background-color: var(--cor-secundaria);
        padding: 20px;
        display: block;
    }

    header nav>ul.ativo li {
        margin-bottom: 10px;
    }

    header nav ul li ul {
        display: flex;
        flex-direction: column;
        display: none;
        position: relative;
        margin-top: 20px;
    }

    header nav ul li ul {
        display: block;
        position: absolute;
        background-color: var(--cor-secundaria);
        border: 2px solid var(--cor-preto);
        padding: 10px;
    }

    header nav ul li ul li a {
        cursor: pointer;
        color: var(--cor-branco);
    }

    header nav ul li ul li a span {
        display: inline-block;
        width: calc(100vw - 75px);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    header nav ul li a {
        position: relative;
        color: var(--cor-branco);
        text-decoration: none;
    }

    header nav ul li a:after {
        content: "";
        width: 0%;
        height: 2px;
        background: var(--cor-verde);
        position: absolute;
        transition: all 0.4s ease-in-out;
        top: 20px;
        right: 0;
    }

    header nav ul li a:hover::after {
        right: auto;
        left: 0;
        top: 20px;
        width: 100%;
    }

    header div#logo {
        width: 200px;
        height: 200px;
        background-image: url("img/logo200.png");
        margin: 0 auto;
        position: relative;
        top: 50px;
    }

    header section {
        position: relative;
        top: 20px;
        margin: 0 auto;
        max-width: 700px;
    }

    header button#btn-ver-curso {
        border: none;
        outline: none;
        cursor: pointer;
        overflow: hidden;
        border-radius: 2px;
        padding: 8px 12px;
        box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
        border: 2px solid var(--cor-secundaria);
        background-color: transparent;
        font-size: 1em;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 85vh;
        left: 50vw;
        transform: translateX(-50%);
    }

    header button#btn-ver-curso:after {
        content: "";
        width: 0%;
        height: 100%;
        background: var(--cor-verde);
        position: absolute;
        transition: all 0.4s ease-in-out;
        right: 0;
    }

    header button#btn-ver-curso:hover::after {
        right: auto;
        left: 0;
        width: 100%;
    }

    header button#btn-ver-curso span {
        text-align: center;
        text-decoration: none;
        width: 100%;
        padding: 10px;
        color: var(--cor-branco);
        font-weight: 700;
        z-index: 20;
        transition: all 0.3s ease-in-out;
    }

    button#btn-ver-curso:hover span {
        color: var(--cor-preto);
        animation: pular 0.3s ease-in-out;
    }

    main {
        min-height: 95vh;
        width: 100vw;
        padding: 120px 20px 0 20px;
    }

    main section {
        margin: 0 auto;
        max-width: 700px;
        margin-bottom: 10vw;
    }

    main section h1 {
        margin-top: 30px;
        margin-bottom: 50px;
        text-align: center;
    }

    main section p {
        text-align: justify;
        margin-bottom: 50px;
    }

    main button#btn-fazer-curso {
        border: none;
        outline: none;
        cursor: pointer;
        overflow: hidden;
        padding: 10px;
        border-radius: 2px;
        box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
        border: 2px solid var(--cor-secundaria);
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        font-size: 1em;
        left: 50%;
        transform: translateX(-50%);
        margin-bottom: 10px;
    }

    main button#btn-fazer-curso:after {
        content: "";
        width: 0%;
        height: 100%;
        background: var(--cor-verde);
        position: absolute;
        transition: all 0.4s ease-in-out;
        right: 0;
    }

    main button#btn-fazer-curso:hover::after {
        right: auto;
        left: 0;
        width: 100%;
    }

    main button#btn-fazer-curso span {
        text-align: center;
        text-decoration: none;
        width: 100%;
        padding: 8px 12px;
        color: var(--cor-preto);
        font-weight: 700;
        z-index: 20;
        transition: all 0.3s ease-in-out;
    }

    main button#btn-fazer-curso:hover span {
        color: var(--cor-preto);
        animation: pular 0.3s ease-in-out;
    }
}

@media (min-width: 400px) {
    header div#logo {
        background-image: url("img/logo300.png");
        width: 300px;
        height: 300px;
    }
}

@media (min-width: 900px) {
    header nav div#menu {
        display: none;
    }

    header div#logo {
        background-image: url("img/logo400.png");
        width: 400px;
        height: 400px;
        float: left;
        position: relative;
        top: 50vh;
        transform: translateY(-50%);
    }

    header section {
        position: absolute;
        top: 50vh;
        left: 57vw;
        width: 30vw;
        transform: translateY(-55%);
    }

    header nav>ul {
        margin-left: 10vw;
        display: flex;
        gap: 10vw;
    }

    header nav ul li ul {
        margin: 0;
        display: none;
    }

    header nav ul li ul li a span {
        width: 300px;
    }

    header ul li span {
        cursor: pointer;
    }

    header nav ul li:hover ul {
        display: block;
    }

    main {
        padding-top: 180px;
    }
}

@media (min-width: 1400px) {
    :root {
        font-size: 20px;
    }

    header div#logo {
        background-image: url("img/logo.png");
        width: 500px;
        height: 500px;
    }

    main section h1 {
        margin-bottom: 150px !important;
    }

    header button#btn-ver-curso,
    main button#btn-fazer-curso {
        padding: 10px 15px;
    }

    main button#btn-fazer-curso {
        padding: 10px 15px;
    }

    header button#btn-ver-curso span,
    main button#btn-fazer-curso span {
        font-weight: 700;
        font-size: 1.125em;
    }
}

@media (min-width: 400px) {
    @media (max-width: 899px) {
        @media (min-height: 800px) {
            header div#logo {
                top: 100px;
            }

            header section {
                top: 100px;
            }
        }
    }
}

@media (min-width: 720px) {
    @media (min-height: 1400px) {
        :root {
            font-size: 30px;
        }

        header div#logo {
            background-image: url("img/logo.png");
            width: 500px;
            height: 500px;
        }

        main {
            padding: 150px 50px 0 50px;
        }
    }
}

@keyframes pular {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.95);
    }

    100% {
        transform: scale(1);
    }
}